<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voir Note</title>
</head>
<body>
    <h1><%= note ? `${note.title}` : '' %></h1>
    <p><%= note ? `${note.content}` : '' %></p>
    <p>Crée le <%= note ? `${date}` : '' %></p>
    <p>Dernière modification le <%= note ? `${updatedAt}` : '' %></p>
    <% if (hasWritePermission) { %>
        <a href="/note/<%= note.id %>/edit">Editer</a>
    <% } %>
</body>
</html>
